* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  justify-self: center;
  border: 1px solid black;
  background-color: #ff9500;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} */

.calculator {
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  border-radius: 15px;
  background-color: #1c1c1c;
}

.numbers,
.deleting,
.operator {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 15px;
  background-color: #505050;
  margin: 2px;
  border-radius: 50px;
  cursor: pointer;
}

.operator {
  font-weight: 700;
}

.numbers:hover {
  background-color: #797979;
}

.operator {
  background-color: #ff9500;
}

.operator:hover {
  background-color: #fdb550;
}

.deleting {
  background-color: #d4d4d2;
}

.deleting:hover {
  background-color: #adadad;
}

.calculator-buttons {
  padding-top: 1rem;
}

.display {
  height: 55px;
  background-color: rgb(54, 50, 50);
  width: 100%;
  display: flex;
  text-align: right;
  flex: 1;
  margin: 5px 0px 15px 0px;
  outline: none;
  border-radius: 5px;
  font-size: 20;
  color: white;
  font-size: 20px;
  letter-spacing: 2.5px;
  padding-right: 5px;
}

.intermediate-display {
  font-size: 0.8rem;
  color: gray;
  text-align: right;

  margin: -30px 10px 5px auto;
}

@media screen and (max-width: 296px) {
  .container {
    width: 90%;
    justify-self: center;
  }

  h1 {
    text-align: center;
  }

  .numbers,
  .deleting,
  .operator {
    width: 45px;
    height: 45px;
    font-size: 13px;
  }

  .display {
    height: 42px;
    font-size: 15px;
  }
}

@media screen and (max-width: 264px) {
  .container {
    width: 90%;
    justify-self: center;
  }

  h1 {
    text-align: center;
  }

  .numbers,
  .deleting,
  .operator {
    width: 40px;
    height: 40px;
    font-size: 13px;
  }

  .display {
    height: 40px;
    font-size: 13px;
  }
}
